
      <tr>
        <td>
          <%= skill.name %>
        </td>
        <% if params["action"] == "edit" %>
        <td>
          <%#link_to 'Delete', skill_path( id: skill.id, vacancy_id: @vacancy.id), method: :delete, remote: true %>
        </td>
        <% end %>
      </tr>







