
      <tr>
        <td>
          <%= skill.name %>
        </td>
        <% if params["action"] != "show" %>
        <td>
          <%= link_to 'Delete', skill_path( id: skill.id, attribute_id: @model_object.id, model_name: @model_name), method: :delete, remote: true %>
        </td>
        <% end %>
      </tr>










